.pswd_info {
	list-style: none;
	margin: 5px 0px;
	padding: 0;
}
.pswd_info .invalid {
	padding-left: 20px;
	background:url(images/invalid.png) no-repeat 0 50%;
	color:#ec3f41;
}
.pswd_info .valid {
	padding-left: 20px;
	background:url(images/valid.png) no-repeat 0 50%;   
	color:#3a7d34;
}
#password-strength-status {
	font-size:10px;
	padding: 5px 10px;
	color: #000000;
	border-radius: 4px;
	margin-top: 5px;
}
.veryweak-password {
	background-color: #FF0000;
}
.weak-password {
	background-color: #d35400;
}
.medium-password {
	background-color: #f39c12;
}
.average-password {
	background-color: #f1c40f;	
}
.strong-password {
	background-color: #229954;
}

.password-strength-group .password-strength-meter {
  width: 100%;
  transition: height 0.3s;
  display: flex;
  justify-content: stretch;
}
.password-strength-group .password-strength-meter .pass-progress {
  height: 4px;
  background: #ccc;
  margin-right: 6px;
  flex-grow: 1;
}
.password-strength-group .password-strength-meter .pass-progress:last-child {
  margin: 0;
}
.password-strength-group .password-strength-message {
  font-weight: 20px;
  height: 1em;
  text-align: right;
  transition: all 0.5s;
  margin-top: 3px;
  position: relative;
}
.password-strength-group .password-strength-message .message-item {
  font-size: 12px;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s;
}
.password-strength-group[data-strength="1"] .pass-progress:nth-child(-n+1) {
  background: #cc3d04;
}
.password-strength-group[data-strength="1"] .message-item:nth-child(1) {
  opacity: 1;
}
.password-strength-group[data-strength="2"] .pass-progress:nth-child(-n+2) {
  background: #ffc43b;
}
.password-strength-group[data-strength="2"] .message-item:nth-child(2) {
  opacity: 1;
}
.password-strength-group[data-strength="3"] .pass-progress:nth-child(-n+3) {
  background: #9ea60a;
}
.password-strength-group[data-strength="3"] .message-item:nth-child(3) {
  opacity: 1;
}
.password-strength-group[data-strength="4"] .pass-progress:nth-child(-n+4) {
  background: #289116;
}
.password-strength-group[data-strength="4"] .message-item:nth-child(4) {
  opacity: 1;
}
.password-strength-group[data-strength="5"] .pass-progress:nth-child(-n+5) {
  background: #289116;
}
.password-strength-group[data-strength="5"] .message-item:nth-child(5) {
  opacity: 1;
}